counterService:
  replicas: 2
  image: edenmor1989/counter-service:10830466506
  tag: "persistentredisenvfixv1"
  service:
    type: NodePort

redis:
  replicas: 1
  image: edenmor1989/counter-service:10830466506
  service:
    name: "counter-service-redis"
    type: ClusterIP

persistentVolumeClaim:
  storage: 1Gi
