counterService:
  replicas: 2
  image: edenmor1989/counter-service
  tag: "persistentredisenvfixv2"
  service:
    type: NodePort

redis:
  replicas: 1
  image: "redis:alpine"
  service:
    name: "counter-service-redis"
    type: ClusterIP

persistentVolumeClaim:
  storage: 1Gi
